<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>777Club.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B384A041D7E201A0082AC2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B384A1B1D7E201B0082AC2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B384A261D7E201B0082AC2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
