<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>808067398202-8v4mhfo6401nleggpa3ohttte847lj3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808067398202-8v4mhfo6401nleggpa3ohttte847lj3j</string>
	<key>API_KEY</key>
	<string>AIzaSyAs3CvLa_CoovvJqaWfYb7I89tNEPsrMOU</string>
	<key>GCM_SENDER_ID</key>
	<string>808067398202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Darsh-777Club</string>
	<key>PROJECT_ID</key>
	<string>club-2ac74</string>
	<key>STORAGE_BUCKET</key>
	<string>club-2ac74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:808067398202:ios:702d4e421bfb6d55</string>
	<key>DATABASE_URL</key>
	<string>https://club-2ac74.firebaseio.com</string>
</dict>
</plist>